/*
 * Theme Name: Evolution Theme
 * Author: Darwin Manalo
 * Author URI: github.com/darwinphi
 * Version: 1.0
 * Description: A simple theme made with love by Darwin Manalo
 */

body {
	font-family: Soleil;
	font-size: 18px;
	color: #333;
}

a:link, a:visited {
	color: #006ec3;
	text-decoration: none;
}

p {
	line-height: 1.60em;
}

/* General Layout */

.site-container {
	max-width: 960px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

/* Header */
.site-header {
	border-bottom: 1px solid #bbb;
	margin-bottom: 20px;
}

.site-header__name {
	margin: 0;
}

.site-header__description {
	margin-top: 0;
}

/* Main Column */
.main-column {
	width: 66%;
	float: left;
}

/* Side Column */
.secondary-column {
	width: 30%;
	float: right;
}

/* Footer */
.site-footer {
	margin-top: 1em;
	border-top: 1px solid #bbb;
}

/* Post */
.post {
	border-bottom: 2px dotted #bbb;
	margin-bottom: 1em;
}

.post:last-of-type {
	border-bottom: none;
}

.post__page {
	font-size: 200%;
}

.post__title {
	margin: 0;
}

.post__info {
	font-size: 87%;
	color: #999;
	margin: 0;
}

.post__info a:link,
.post__info a:visited {
	color: #999;
	text-decoration: underline;
}

.post__gallery,
.post__link,
.post__aside {
	background-color: #fff5cb;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	border: none;
}

.post-aside__meta {
	font-size: 90%;
	color: #777;
}

.post-aside__content {
	padding: 0;
	font-size: 125%;
}

/* Post Format Link Styles */
.post__link {
	padding: 0;
	background-color: #e0ebff;
}

.post__link a {
	display: block;
	padding: 20px;
}

/* Post Format Gallery Styles */
.post__gallery {
	background-color: #222;
	color: #fff;
	padding: 20px;
}

.post__gallery h2 {
	text-align: center;
}

.post__gallery img {
	border: none !important;
}

/* Navigation Menus */
.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav ul:before, .site-nav ul:after { content: ""; display: table; }
.site-nav ul:after { clear: both; }
.site-nav ul { *zoom: 1; }

.site-nav ul li {
	list-style: none;
	float: left;
}

/* Header Menu */
.site-header nav ul li {
	margin-right: 5px;
}

.site-header nav ul li a:link,
.site-header nav ul li a:visited {
	display: block;
	padding: 10px 18px;
	border: 1px solid #bbb;
	border-bottom: none;
}
.site-header nav ul li a:hover {
	background: #eceece;
}

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
	background: #006ec3;
	color: #fff;
}

/* Header Menu */
.site-footer nav ul li {
	margin: 10px;
	padding-right: 10px;
	border-right: 1px dotted #bbb;
}

/* Search */
.hd-search {
	float: right;
}

.hd-search label {
	position: absolute;
	left: -9999px;
}

.hd-search #searchsubmit {
	color: #fff;
	padding: 5px 14px;
	border: none;
	vertical-align: top;
}

.hd-search #s {
	vertical-align: top;
	padding: 3px 0;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
	background-color: #006ec3;
}

/* Clearfix */
.clearfix:after, .clearfix:before { content: ""; display: block; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Two Column Title Layout */
.column-title {
	width: 30%;
	float: left;
}

.column-content {
	width: 70%;
	float: right;
}

/* Info Box Style*/
.info-box {
	width: 30%;
	float: right;
	margin: 0 0 30px 30px;
	padding: 20px;
	background-color: #eee;
}

.info-box__title {
	margin-bottom: 6px;
}

.info-box__content {
	font-size: 85%;
}

/* Children Links */
.children-links {
	margin-bottom: 20px;
	font-size: 80%;
}

.children-links ul {
	float: left;
}

.children-links li {
	margin-right: 20px;
}

.children-links .parent-link {
	float: left;
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #ddd;
	font-size: 120%;
	font-weight: bold;
}

.children-links .parent-link a:link,
.children-links .parent-link a:visited {
	color: #333;
}

.children-links .current_page_item a:link,
.children-links .current_page_item a:visited {
	border-bottom: 1px solid #ddd;
	color: #333;
	cursor: default;
}

/* Images Styles */
img {
	max-width: 100%;
}

.has-thumbnail {
	position: relative;
	padding-left: 200px;
}

.post__thumbnail {
	position: absolute;
	top: 0;
	left: 0;
}

/* Footer Widget Area */
.footer-widget-area {
	width: 25%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
	list-style-type: none;
	padding-top: 0;
}

/* WP_Query Post Columns */
.home-columns {
	margin-top: 30px;
}

.one-half {
	width: 50%;
	padding: 1em;
	float: left;
	box-sizing: border-box;
}

.last {
	margin-right: 0;
}

